<header>
  <nav class="navbar navbar-light bg-light shadow-card">
    <h1 class="navbar-brand m-0">Weather app</h1>
    <ul class="navbar-nav d-flex flex-row align-items-baseline">
      <li class="navbar-item p-2">
        <a class="nav-link" href="https://github.com/daniellcc/weather-angularApp" target="_blank">
            Github
        </a>
      </li>
      <li class="navbar-item p-2">
        <a class="nav-link" href="http://danielccardona.my-board.org/">Portafolio</a>
      </li>
      <li class="navbar-item p-2">
        <small>By Daniel C. Cardona</small>
      </li>
    </ul>
  </nav>
</header>

<div class="container-fluid animate faded">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-6 col-md-4 col-lg-4 col-xl-3">
      <app-search (weatherData)="receiveWeather($event)"></app-search>
    </div> 
  </div>
    

  <main class="row justify-content-center mt-4">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <app-weather-card [weather]="weather">
        </app-weather-card>
      </div>
  </main>
</div>