<div class="container-fluid animate faded">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
      <app-search (weatherData)="receiveWeather($event)"></app-search>
    </div> 
  </div>
    

  <main class="row justify-content-center">
      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <app-weather-card [weather]="weather">
        </app-weather-card>
      </div>
  </main>

  <footer class="row align-self-end justify-content-center border-top">
    <div class="d-flex justify-content-center algin-items-center">
      <div>
        <a href="https://github.com/daniellcc/weather-angularApp" target="_blank">
          <i class="fab fa-github p-2 text-dark"></i>
        </a>
      </div>
    </div>
  </footer>
</div>